<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Wallet😎</title>
</head>
<body>
    <h1>hello world!</h1>
    <button id="wallet_btn">지갑 생성</button>

    <ul class="wallet_list">
        <li>Coin : ingCoin</li>
        <li>account :
            <span class="account">{{data.account}}</span>
        </li>
        <li>private key:
            <span class="privateKey">{{data.privateKey}}</span>
        </li>
        <li>public key :
            <span class="publicKey">{{data.publicKey}}</span>
        </li>
        <li>balance :
            <span class="balance">{{data.balance}}</span>
        </li>
    </ul>
    <form id='transaction_form'>
        <ul>
            <li>received : <input id='received' placeholder='보낼 계정'/></li>
            <li>amount : <input id='amount' placeholder='보낼 금액'/></li>
        </ul>
        <input type='submit' value='전송'/>
    </form>

    <h1>지갑목록</h1>
    <button id='wallet_list_btn'>지갑목록 버튼</button>
    <div class='wallet_list2'>
        <ul>
            목록 버튼을 눌러주세요.
        </ul>
    </div>
    <script type="text/javascript">
        const walletBtn = document.querySelector('#wallet_btn')
        const walletListBtn = document.querySelector('#wallet_list_btn')
        const transactionForm = document.querySelector('#transaction_form')
        const createWallet = async () => {
            const response = await axios.post('/newWallet',null)
            console.log(response.data)
            view(response.data)
        }
        const submitHandler = async(e) => {
            e.preventDefault()
            // account
            // publicKey
            const publicKey = document.querySelector('.publicKey').innerHTML
            const account = document.querySelector('.account').innerHTML
            const data = {
                sender: {
                    publicKey,
                    account
                },
                received: e.target.received.value,
                amount: parseInt(e.target.amount.value)
            }
            const response = await axios.post('/sendTransaction',data)
        }
        const view = (wallet) => {
            const account = document.querySelector('.account')
            const publicKey = document.querySelector('.publicKey')
            const privateKey = document.querySelector('.privateKey')
            const balance = document.querySelector('.balance')

            account.innerHTML = wallet.account
            publicKey.innerHTML = wallet.publicKey
            privateKey.innerHTML = wallet.privateKey
            balance.innerHTML = wallet.balance
        }
        const getView = async (account) => {
            const response = await axios.get(`/wallet/${account}`)
            console.log(response.data)
            view(response.data)
        }
        const getWalletList = async () => {

            const walletList = document.querySelector('.wallet_list2 > ul')
            const response = await axios.post('/walletList',null)
            walletList.innerHTML = response.data.map((account) => {
                console.log('월렛리스트 res', account)
                return `<li onClick="getView('${account}')">${account}</li>`
            })
        }
        walletBtn.addEventListener('click',createWallet)
        walletListBtn.addEventListener('click',getWalletList)
        transactionForm.addEventListener('submit',submitHandler)
    </script>
</body>
</html>
